.galerie {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.galerie img {
	width: 360px;
	height: auto;
	margin: 2px;
}

@media (max-width: 380px) {
	.galerie img {
		width: 95%;
		height: auto;
		margin: 2px;
	}
}