
header {
    width: 100%;
    margin: auto;
    
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    margin: auto;
}
.headerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 3px;
    font-size: 3vw;
}
.header_midl {
    display: flex;
    height: 15vw;

}
header img{
    height: 100%;
    width: 75%;
}
.odkaz:hover{
    color: red;
    text-decoration: underline;
}
.logo {
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.3;
    margin: 0 10px;
    text-align: center;

}
/* menu*/
header menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    padding: 4vw 0px;
    width: 100%;
}
header menu a {
   display: flex;
   align-items: center;
   justify-content: center;
    width: 32%;
    height: 45px;
    background-color: antiquewhite;
    border-radius: 5px;
    border: solid 1px;
    transition: 0.3 ;
    text-transform: uppercase;
    overflow: hidden ;
    font-size: 15px;
} 
header menu a:hover {
    background-color: brown;
    border-top: solid 10px;
    border-right: solid 10px;
    border-bottom: solid 1px;
    border-left: solid 1px;
    font-size: 12px;
    padding: 10px 0;
}  

@media (min-width: 920px){

	.container {
		width: 75%;
	}
	.headerTop{
		font-size: 1em;
	}
	
	/* menu*/
	header .menu a {
		width: 24%;
		height: 40px;
		padding: 10px 0;
		font-size: 20px;
	} 
	header .menu a:hover {
		padding: 5px 0;
		font-size: 15px;
	}    
}