header {
	background-image: url(../img/uvodnifoto.gif);
	background-size: cover;
	color: white;
	text-shadow: 0.15em 0.15em 0px black;
	border-radius: 1em;
	padding-bottom: 0.5em;
	margin: .8em 0.8em 0.8em;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header a {
	color: white;
}

header a:hover {
	border-bottom: 2px solid white;
}

header p i {
	margin-right: 1em;
}

.rozdeleni {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.headerTop {
	display: flex;
	justify-content: center;
	font-size: 1.5em;
}

.headerTop .container {
	display: flex;
	justify-content: space-between;
	padding: 1em 0.5em 0;
}

.headerMidl {
	display: flex;
	justify-content: center;
	padding: 1em 0;
}

.headerMidl h2 {
	font-weight: 700;
	font-size: 4em;
	padding: 0.3em 0.3em;


}

nav {
	display: flex;
	justify-content: center;
}

nav .container {
	display: flex;
	justify-content: right;

}

#hamburger-menu:checked+* menu {
	display: flex;

}

#hamburger-menu {
	display: none;
}

.tlacitko {
	display: none;
}

.tlacitko .carka {
	background-color: white;
	width: 100%;
	height: 0.4em;
	border-radius: 0.1em;
	transition: all 0.3s linear;
}

header .hamburger-menu .carka:nth-child(1) {
	transform-origin: 0 0;
}
header .hamburger-menu .carka:nth-child(3) {
	transform-origin: 0 0.4em;
}

#hamburger-menu:checked + * .carka:nth-child(1) {	
	transform: rotateZ(45deg);
}

#hamburger-menu:checked + * .carka:nth-child(2) {	
	opacity: 0;
}
#hamburger-menu:checked + * .carka:nth-child(3) {	
	transform: rotateZ(-45deg);
}

nav .container menu {
	display: flex;
	justify-content: right;
	flex-wrap: wrap;
}

#ramMenu {
	background-color: #c27819;
}

nav menu a {
	padding: 0 0.5em;
	margin: 0 5px 5px;
	font-size: 2em;
	border-radius: 0.2em;
	background-color: hsla(0, 0%, 0%, 0.5);
}


@media (max-width: 730px) {
	.headerMidl {
		font-size: 2vw;
	}
}

@media (max-width: 500px) {
	header {
		font-size: 3vw;
	}

	.headerTop {
		font-size: 1em;
	}

	.tlacitko {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 3em;
		height: 2.5em;
		margin: 1em;
	}

	nav .container menu {
		display: none;
		flex-direction: column;
		margin: 0 0 10px;


	}
}