
article{width:100%; background-color:lightsalmon;}
footer{width:100%; background-color:lightsalmon;}
.cistic{clear:both;}

.zaklad{width: calc(100% - 20px); background-color:lightsalmon; margin-left: 10px; margin-right: 10px; margin-top: 10px; }
.tabulka_nazvu_dni{width:calc(100%);background-color:lightyellow;}
.tabulka_cisel_dni{width:calc(100%);background-color:lightsalmon;}
.tlacitka_mesicu{font-size: 3em; width: 100%;}
.tlacitka_dni{font-size: 3em; width: 100%;}
.tlacitka_dni_novy_mesic{font-size: 2em; width: 100%;}
.velikost_pisma_nazvydni{font-size: 3em;}

.sec{width: calc(100% - 20px); background-color:lightsalmon; float:left; margin-left: 10px; margin-right: 10px; }
.asi{width: calc(150px); background-color:lightyellow; float:left}
.art{width: calc(100% - 150px); background-color:lightsalmon; float:left; overflow:scroll;}
.velikost_pisma_zobrazeni{font-size: 2em;}
.sirka_bunek{width: 40px; }
.sirka_tabulky{width: 3840px; }
.pocet_zobrazenych_dni{font-size: 3em; }

.zakl{width:450px;background-color:red;}

.zelene_f{color:green;}